*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.centrar{
    width: 980px;
    text-align: center;
    margin: auto;
}

.centrar a{
    text-decoration: none;
    padding: 15px;
    font-weight: bold;
    color: white;
    background-color: red;
    margin-left: 6px;
    box-sizing: border-box;
    border: 1px red solid;
}

.centrar a:hover{
    transition: background 1s;
     transition: color 1s;
   /* transition: border 2s; */
    color: #C71A1A;
    background: white;
    border: 1px #C71A1A solid;
    /* filter: grayscale(1); */
    
    /* border: 1px white solid; */
}

.centrar ul{
    padding: 20px 0;
}

.centrar h1{
    font-size: 25px;
    margin: 15px 0px;
    font-weight: bold;
}

.box-red{
   /*  border: 1px red solid; */
    height: 500px;
}

.col{
    width: 75%;
    height: 90%;
}

.col h1, .col p{
    margin: 10px 15px;
}

.service img{
    width: 30%;
    height: 20%; 
}